@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    @apply  min-h-screen bg-gradient-to-b from-light to-teal-100 dark:from-primary dark:to-zinc-800
}

main{
    min-height: calc(100vh - 4rem);
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Kanit', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: auto;
  cursor: crosshair;
}

*{
  margin: 0;
  box-sizing: border-box;
}
.leaflet-div-icon{
  background: none;
  border: none;
}

