@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

body{
    @apply bg-gradient-to-b from-light to-teal-100 dark:from-primary dark:to-zinc-800
}

main{
    min-height: calc(100vh - 2rem);
}



:root {
  font-family: 'Kanit', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: auto;
  cursor: crosshair;
}



*{
  margin: 0;
  box-sizing: border-box;
}
.leaflet-div-icon{
  background: none;
  border: none;
}

.leaflet-popup-content-wrapper{
  padding: 0;
}
.leaflet-popup-content{
  margin: 0;
}
.leaflet-popup-close-button{
  z-index: 99;
  font-size: 1.4rem !important;
  color: #fff !important;
}